
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#hero {
    background: url('hero-image.jpg') no-repeat center center/cover;
    color: white;
    height: 100vh; /* Occupe toute la hauteur de l'écran */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#hero h1 {
    font-size: 4em; /* Taille du titre */
    font-weight: bold;
    text-transform: uppercase; /* Pour un style plus accrocheur */
}

#hero p {
    font-size: 1.5em; /* Taille du sous-titre */
    margin-top: 20px;
    line-height: 1.5;
}

.cta-button {
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}


#mission, #impact, #testimonials, #cta {
    padding: 50px 20px;
    text-align: center;
}

.pillars, .stats {
    display: flex;
    justify-content: space-around;
}

.pillar, .stat {
    width: 30%;
}

.icon {
    max-width: 300px;
    height: auto;
}

body {
    background-color: #eae2d6;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
